<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" routerLink="viewcomments"
            routerLinkActive="active" role="tab" aria-controls="nav-home" aria-selected="true">Comments</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="addcomments"
            routerLinkActive="active" role="tab" aria-controls="nav-profile" aria-selected="false">Add Comments</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="myaccount"
            routerLinkActive="active" role="tab" aria-controls="nav-contact" aria-selected="false">Account</a>
    </div>
</nav>